<header class="main-header">
  <nav class="main-nav nav nav-inline" role="navigation">
    <%= link_to "Jira", "https://jutonz.atlassian.net", class: "nav-link" %>
    <a class="nav-link" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#">Disabled</a>
  </nav>
</header>

Rails env: <%= Rails.env %>
